*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1440px;
  margin: auto;
}

body {
  font-family: 'DM Sans', sans-serif;
}

a {
  text-decoration: none;
  color: currentColor;
}

h1 {
  color: #901C1C;
  font-size: 36px;
}

h2 {
  color: #D3573C;
  font-size: 36px;
  font-weight: 400;
}

li {
  color: #901C1C;
  font-size: 13px;
}

.ville {
  color: #901C1C;
  font-size: 13px;
}

.description_phrase {
  color: black;
  font-size: 10px;
}

.description_prix {
  color: #525252;
  font-size: 9px;
}

.lien_haut_page {
  color: black;
  font-size: 18px;
}

.tag {
  border: 1px solid #525252;
  font-weight: bold;
  border-radius: 30px;
  padding: 3px 5px 3px 5px;
  margin: 10px 5px 0 0;
}

.tag:hover {
  background-color: #901C1C;
  color: white;
  border: 1px solid #901C1C;
}

.lien_haut_page {
  position: fixed;
  left: 45%;
  top: 6px;
  width: 155px;
  background-color: #DB8876;
  padding: 6px 6px 8px 6px;
  border-radius: 10px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 70%;
  height: 157px;
}

header .logo_img {
  height: 30%;
  margin-top: 43px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  list-style: none;
  margin-top: 43px;
}

h1 {
  position: relative;
  left: 72%;
  bottom: 115px;
}

.profils {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.profils .photographe_profil {
  width: 33%;
  min-width: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin: 40px 0 20px 0;
}

.profils .photographe_profil .profil_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profils .photographe_profil .profil_image .profil_img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.profils .photographe_profil .profil_description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profils .photographe_profil .profil_tag ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.profils .photographe_profil .profil_tag ul li {
  margin: 10px 0 10px 0;
}
/*# sourceMappingURL=main.css.map */