.photographe_page {
    display: flex;
    justify-content: space-around;
    background-color: $secondaire_gris_fond;
    border-radius: 20px;
    width: 87%;
    margin: auto;
    @media screen and (max-width: 690px) {
        background-color: white;
    }
    .page__nom_et_tag {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 40px;
        .tag_photographe_profil {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin-bottom: 40px;
            li {
                margin: 7px 0 7px 0;
            }
        }
    }
    .page__contact {
        margin: auto 0 auto 0;
        @media screen and (max-width: 940px) {
            display: none;
        }
    }
    .page__photo {
        margin: 40px 0 40px 0;
    }
}
@media screen and (max-width: 690px) {
    #profil_image_page {
        width: 100px;
        height: 100px;
    }
}
@media screen and (max-width: 340px) {
    #profil_image_page {
        width: 75px;
        height: 75px;
    }
}



.gallerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
    .gallerie__photo {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 30px 40px 0 40px;
        @media screen and (max-width: 430px) {
            width: 90vw;
        }
        .gallerie_img {
            width: 400px;
            height: 400px;
            border-radius: 10px;
            object-fit: cover;
            @media screen and (max-width: 430px) {
                width: 90vw;
                height: 90vw;
            }
        }
        .gallerie__titre_coeur {
            display: flex;
            justify-content: space-between;
            margin-top: 5px;
            .titre_photo {
                width: 70%;
                p {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
            .prix_coeur {
                display: flex;
                justify-content: space-between;
                width: 30%;
            }
        }
    }
}

.lien_bas_page {
    display: flex;
    justify-content: space-around;
    width: 376px;
    background: $secondaire_orange;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 0 15px 0;
    position: fixed;
    right: 50px;
    bottom: 0px;
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.page__contact_portable {
    position: fixed;
    left: 50%;
    margin-left: -77.2px;
    bottom: 20px;
    @media screen and (min-width: 500px) {
        display: none;
    }
}

