.tag {
    border: 1px solid $secondaire_gris;
    font-weight: bold;
    border-radius: 30px;
    padding: 3px 5px 3px 5px;
    margin: 10px 5px 0 0;
}

.tag:hover {
    background-color: $primaire_rouge;
    color: white;
    border: 1px solid $primaire_rouge;
}

.lien_haut_page {
    position: fixed;
    left: 50%;
    margin-left: -77.2px;
    top: 6px;
    width: 155px;
    background-color: $secondaire_orange;
    padding: 6px 6px 8px 6px;
    border-radius: 10px;
}

.contact {
  background: $primaire_rouge;
  border-radius: 7px;
  font-size: 20px;
  padding: 21px 11px 22px 11px;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  border: 0;
  &:hover {
      background: $secondaire_orange;
      color: black;
  }
}

.bouton_envoyer {
    padding: 23px 50px 23px 50px;
    &:hover {
        background: $primaire_rouge;
        color: #312E2E;
    }
}
