body {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
  }

.Titre_index {
    color: $secondaire_rouge;
    font-size: 1.8vw;
    @media screen and (max-width: 815px) {
        font-size: 14px;
    }
}

.nom_photographe {
    color: $secondaire_orange;
    font-size: 64px;
}

h2 {
    color: $primaire_orange;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

li {
    color: $secondaire_rouge;
    font-size: 13px;
}

.ville {
    color: $secondaire_rouge;
    font-size: 13px;
}

.description_phrase {
    color: black;
    font-size: 10px;
}

.description_prix {
    color: $secondaire_gris;
    font-size: 9px;
}

.lien_haut_page {
    color: black;
    font-size: 18px;
}