body {
    font-family: 'DM Sans', sans-serif;
}

.filtre_nom {
    font-family: 'DM Sans', sans-serif;
}

a {
    text-decoration: none;
    color: currentColor;
  }

.Titre_index {
    color: $secondaire_rouge;
    font-size: 1.8vw;
    @media screen and (max-width: 815px) {
        font-size: 14px;
    }
}

.nom_photographe {
    color: $secondaire_orange;
    font-size: 64px;
    @media screen and (max-width: 690px) {
        font-size: 36px;
    }
}

h2 {
    color: $primaire_orange;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}

li {
    color: $secondaire_rouge;
    font-size: 13px;
}

.ville {
    color: $secondaire_rouge;
    font-size: 13px;
}

#ville_profil {
    font-size: 24px;
    @media screen and (max-width: 690px) {
        font-size: 13px;
    }
}

.phrase_profil {
    font-size: 18px;
    color: $secondaire_gris;
    @media screen and (max-width: 690px) {
        font-size: 13px;
    }
}

.description_phrase {
    color: black;
    font-size: 10px;
}

.description_prix {
    color: $secondaire_gris;
    font-size: 9px;
}

.lien_haut_page {
    color: black;
    font-size: 18px;
}

.titre_filtres {
    font-size: 18px;
    font-weight: bold;
}

.gallerie__titre_coeur {
    color: $primaire_rouge;
    font-size: 24px;
    @media screen and (max-width: 430px) {
        font-size: 14px;
    }
}

.lien_bas_page {
    font-size: 24px;
}

.nom_contact {
    color: black;
    font-size: 64px;
    @media screen and (max-width: 685px) {
        font-size: 10vw;
    }
}

label {
    font-size: 36px;
    color: #312E2E;
    font-weight: normal;
    display: inline-block;
    
  }

#erreur_prenom, #erreur_nom, #errorMail {
    font-size: 17px;
    text-align: start;
    color: red;
}

p, h1, h2, h3 {
    cursor: default;
}