.img-window {
    width: 100vw;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}

.img-btn-next, .img-btn-prev {
    display: block;
    padding: 6px 10px;
    color: $primaire_rouge;
    position: fixed;
    top: 48vh;
    z-index: 500;
    cursor: pointer;
    font-size: 3vw;
    
}

.portable-next {
    font-size: 30px;
    right: 5px;
    
}

.portable-prev {
    font-size: 30px;
    left: 5px;
}

.close-lightbox-icon {
    display: block;
    padding: 6px 10px;
    color: $primaire_rouge;
    position: fixed;
    top: 2vh;
    right: 5vw;
    z-index: 500;
    cursor: pointer;
    font-size: 48px;
}

.img-btn-next:hover, .img-btn-prev:hover, .close-lightbox-icon:hover {
    transform: scale(1.10);
}

.video-large {
    width: 70vw;
}
